flows.json
[{"id":"d59cd3bb.b7924","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4e22b14d.abc39","type":"ui_form","z":"d59cd3bb.b7924","name":"","label":"","group":"b39f7738.360398","order":1,"width":0,"height":0,"options":[{"label":"CustomerId","value":"cu","type":"number","required":true,"rows":null},{"label":"Surname","value":"su","type":"text","required":true,"rows":null},{"label":"Geography","value":"ge","type":"text","required":true,"rows":null},{"label":"Gender","value":"gn","type":"text","required":true,"rows":null},{"label":"Age","value":"ag","type":"number","required":true,"rows":null},{"label":"Tenure","value":"te","type":"number","required":true,"rows":null},{"label":"Balance","value":"ba","type":"number","required":true,"rows":null},{"label":"NumOfProducts","value":"nu","type":"number","required":true,"rows":null},{"label":"HasCrCard","value":"ha","type":"number","required":true,"rows":null},{"label":"IsActiveMember","value":"is","type":"number","required":true,"rows":null},{"label":"EstimatedSalary","value":"es","type":"number","required":true,"rows":null},{"label":"Exited","value":"ex","type":"number","required":true,"rows":null}],"formValue":{"cu":"","su":"","ge":"","gn":"","ag":"","te":"","ba":"","nu":"","ha":"","is":"","es":"","ex":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":50,"y":340,"wires":[["a110fd6a.44fe4","399975ae.1d02fa"]]},{"id":"a110fd6a.44fe4","type":"debug","z":"d59cd3bb.b7924","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":230,"y":420,"wires":[]},{"id":"399975ae.1d02fa","type":"function","z":"d59cd3bb.b7924","name":"pre-token","func":"global.set(\"cu\",msg.payload.rd)\nglobal.set(\"su\",msg.payload.ad)\nglobal.set(\"ge\",msg.payload.ms)\nglobal.set(\"gn\",msg.payload.st)\nglobal.set(\"ag\",msg.payload.st)\nglobal.set(\"te\",msg.payload.st)\nglobal.set(\"ba\",msg.payload.st)\nglobal.set(\"nu\",msg.payload.st)\nglobal.set(\"ha\",msg.payload.st)\nglobal.set(\"is\",msg.payload.st)\nglobal.set(\"es\",msg.payload.st)\nglobal.set(\"ex\",msg.payload.st)\nvar apikey=\"cFdDtzslMfFWtiM4lNfyGD7C8oN4J6knVBiHNKLDRB1J\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":280,"wires":[["8cdd8029.1babc"]]},{"id":"8cdd8029.1babc","type":"http request","z":"d59cd3bb.b7924","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":392.00000381469727,"y":324.00000286102295,"wires":[["e999d4b9.d15d98","8f41a1d4.7c4e1"]]},{"id":"e999d4b9.d15d98","type":"debug","z":"d59cd3bb.b7924","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":580,"y":380,"wires":[]},{"id":"8f41a1d4.7c4e1","type":"function","z":"d59cd3bb.b7924","name":"Pre Prediction","func":"var cu = global.get(\"cu\")\nvar su = global.get(\"su\")\nvar ge = global.get(\"ge\")\nvar gn = global.get(\"gn\")\nvar ag = global.get(\"ag\")\nvar te = global.get(\"te\")\nvar ba = global.get(\"ba\")\nvar nu = global.get(\"nu\")\nvar ha = global.get(\"ha\")\nvar is = global.get(\"is\")\nvar es = global.get(\"es\")\nvar ex = global.get(\"ex\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\":[\"CustomerId\",\"Surname\",\"Geography\",\"Gender\",\"Age\",\"Tenure\",\"Balance\",\"NumOfProducts\",\"HasCrCard\",\"IsActiveMember\",\"EstimatedSalary\",\"Exited\"],\"values\":[[cu,su,ge,gn,ag,te,ba,nu,ha,is,es,ex]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":584.0000076293945,"y":276.0000021457672,"wires":[["12cd86e9.18b409"]]},{"id":"12cd86e9.18b409","type":"http request","z":"d59cd3bb.b7924","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/ml/v4/deployments/49e3c5a6-fd60-414f-b3f3-0ab6eceabf57/predictions?version=2020-10-22","tls":"","persist":false,"proxy":"","authType":"","x":810,"y":300,"wires":[["533da19e.10532","b03fa438.f46158"]]},{"id":"533da19e.10532","type":"debug","z":"d59cd3bb.b7924","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":962.9999914169312,"y":384.00000381469727,"wires":[]},{"id":"f0a41d62.b791d","type":"inject","z":"d59cd3bb.b7924","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":180,"wires":[["399975ae.1d02fa"]]},{"id":"5cc9bfff.43dc2","type":"debug","z":"d59cd3bb.b7924","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":793.9999885559082,"y":167.0000057220459,"wires":[]},{"id":"b03fa438.f46158","type":"function","z":"d59cd3bb.b7924","name":"Parsing","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":639.6000595092773,"y":208.00000190734863,"wires":[["5cc9bfff.43dc2","7a2e7f2e.35f6f"]]},{"id":"7a2e7f2e.35f6f","type":"ui_text","z":"d59cd3bb.b7924","group":"b39f7738.360398","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":757.6000366210938,"y":441.20001220703125,"wires":[]},{"id":"b39f7738.360398","type":"ui_group","z":"","name":"New","tab":"5bc14161.1260e","order":1,"disp":true,"width":"6","collapse":false},{"id":"5bc14161.1260e","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]